@import "tailwindcss";

body {
    @apply container m-5;
}

header {
    @apply bg-amber-200;
    h1 {
        @apply text-5xl font-bold;
    }
}

main {
    section {
        h1 {
            @apply font-bold text-3xl pt-2 pb-1.5;
        }
    }
}